.edit-meter-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #DFDFDF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.edit-meter-container h2, h3 {
    text-align: center;
}

.edit-meter-container form {
    margin-bottom: 20px;
}

.edit-meter-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    max-height: 10vh;
}

.table-responsive {
    max-height: 30vh;
    scrollbar-color: #313131 transparent;
}

.edit-meter-container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.edit-meter-container th {
    background-color: #EFEFEF;
}

.edit-meter-container td {
    background-color: #EFEFEF;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

