* { padding: 0; margin: 0; }

html, body{
    width: 100%;
    min-height: 100vh;
    place-items: center;
}

.navbar {
    z-index: 1000;
   width: 100%;
   height: 10vh;
	overflow: hidden;
    background-color: #DFDFDF;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.left {
    display: flex;
    place-content: start;
    width: 100%;
    button {
        width: fit-content;
    }
}

.btn {

    white-space: nowrap;
}

#buttons {
    display: flex;
    flex-direction: column;
    place-items: start;
}

#buttons .btn {
    width: fit-content;
    margin-left: 0;
    margin-bottom: 10px;
}

.alert {
    z-index: 100000;
    position: fixed;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1000ms linear;
}

.fade-out {
    opacity: 0;
}

.content-box {
    display: flex;
    width: 100%;
    min-height: inherit;
}

.right-box, .left-box {
    opacity: 0.9;
    min-height: inherit;
    vertical-align: top;
}


.left-box {
    margin: 0;
    width: 30%;
    display: grid;
    place-content: start;
    .lists{
        place-content: start;
    }
}
.right-box{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.center-box {
    border-radius: 10px;
    opacity: 0.97;
    width: 100%;
    align-items: center;
    padding: 20px;
    min-height: 70vh;
    height: auto;
    place-items: center;
}

.footer{
    width: 100%;
	background-color: #2F2F2F;
	align-items: center;
	padding: 20px;
    min-height: 20vh;
    padding-bottom: 2vh;
}
.col-md-6 {
    border-top: 2px solid #FFF;
    flex: 0 0 48%;
    padding: 1%;
}

.messages {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
}

.messages div:last-child:not(#recipient-list, #sender-input, .form-group) {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #1b5293;
}


.scroll-bar{
	height:40%;
	overflow:hidden;
	overflow-y:scroll;
}

.limited-list {
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-color: #313131 transparent;
}

.user-overview-container {
    border-left: 2px solid rgba(53, 72, 193, 0.7);
    display: none;
    padding: 1vw;
}

.search-bar {
    margin-bottom: 5px;
    margin-left: 10px;
}

.logo {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.address-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.signature {
    color: inherit; /* Dziedziczy kolor tekstu, w którym się znajduje */
    text-decoration: none; /* Usuwa domyślne podkreślenie linku */
}

.signature:hover {
    text-decoration: underline; /* Dodaje podkreślenie po najechaniu myszką */
}

.instructions-list {
    background-color: rgba(255, 255, 255, 0.5); /* Lekko przezroczyste białe tło */
    border-radius: 10px; /* Zaokrąglone rogi */
    padding: 20px; /* Odstępy wewnątrz kontenera */
    list-style-type: none; /* Usunięcie kropek */
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.instructions-list li {
    margin-bottom: 15px; /* Odstępy pomiędzy elementami listy */
}

#login {
    width: 400px;
    padding: 30px;
    margin-top: 5vh;
    .right-box {
        display: block;
    }
}

#admin {
    width: 100%;
    min-height: inherit;
    display: grid;
    grid-template-rows: auto 11fr;
    place-items: center;
}

.init-display {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

#forms {
    width: 20vw;
    display: flex;
    flex-direction: column;
    place-items: start;
}

.lists {

    margin: 0 auto;
    width: 17vw;
    height: fit-content;
    .btn-toggle {
        width: 100%;
        background-color: #6B99D1;
        color: black;
        font-weight: 400;
        display: grid;
        grid-template-columns: 11fr 1fr;
        place-items: center;
        margin: 10px 0;

    }

    h4 {
        color: #313131;
        margin: 0;
    }

    img {
        width: 20px;
        filter: invert(14%) sepia(47%) saturate(0%) hue-rotate(240deg) brightness(105%) contrast(92%);
        transform: rotate(90deg);
        transition: 100ms linear all;
    }

    

    .collapse {
        width: auto;
        border: 2px solid #1b5293;
        border-radius: 1rem;
        padding: 5px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        place-items: center;
        box-shadow: 0px 5px 10px rgba(0,0,0,.2);
        background-color: #DFDFDF;
        .meter-checkbox {
            width: fit-content;
            margin: 3px;
            margin-right: 20px;
        }
        input {
            width: 15vw;
        }
        form {
            width: 90%;
        }
        p {
            border: 0;
            border-bottom: 2px solid #1b5293;
            background-color: transparent;
            font-weight: 600;
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
        td, th {
            border: 0;
            border-bottom: 2px solid #1b5293;
            background-color: transparent;
            font-weight: 600;
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
        #table-container {
            max-height: 60vh;
            overflow-y: auto;
            scrollbar-color: #313131 transparent;
        }

    }

    input {
        margin: 0;
        margin-bottom: 15px;
        border: 2px solid #1b5293;
        border-radius: 1rem;
        padding: 5px;
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            border: 0;
            border-bottom: 2px solid #1b5293;
            background-color: transparent;
            font-weight: 600;
            padding: 10px;
            margin-bottom: 10px;
        }
    }

    .meter-item {
        display: flex;
        flex-wrap: wrap;

    }

   

    #userDataCollapse {
        text-align: center;
    }

    #user-email {
        font-weight: bold;
    }

    #editUserForm {
        border-bottom: 2px solid #1b5293;
        padding-bottom: 1vh;
        margin-bottom: 1vh;
        display: grid;
    }

    #editUserForm input {
        width: 80%;
    }

    #editUserForm #can_toggle_view {
        width: fit-content;
    }

    #editUserForm #submit {
        color: #FFF;
        margin: 5px;
        background-color: #3470B6;
        border: none;
        border-radius: 5px;
        padding: .375rem .75rem;
        justify-self: center;
        width: fit-content;
    }

    .form-check-inline .form-check-input {
        margin-bottom: 0;
    }

    form button {
        width: fit-content;
        justify-self: center;
    }

    #meter-list-2 li {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #deleteUser {
        margin-inline: 0;
    }
}

.generate_deltas_report {
    select {
        height: 30vh !important;
        background-color: #DFDFDF;
        border: 0;
    }

    select:focus{
        border: none;
        background-color: #DFDFDF;
        outline: none;
        box-shadow: none;
    }

    option {
        background-color: #EFEFEF;
        margin-bottom: 10px;
        padding: 10px;
    }
    option:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }
}