.report-table-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.report-table th {
    background-color: #f2f2f2;
}

.odd-row {
    background-color: #f9f9f9;
}

.even-row {
    background-color: #fff;
}

.report-actions {
    margin-bottom: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.signature {
    color: inherit;
    text-decoration: none;
}

.signature:hover {
    text-decoration: underline;
}

.report-table-container {
        background-color: white;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .report-table {
        width: 100%;
        border-collapse: collapse;
    }

    .report-table th, .report-table td {
        padding: 8px;
        text-align: left;
    }

    .report-table th {
        background-color: #f2f2f2;
    }

    .odd-row {
        background-color: #f9f9f9;
    }

    .even-row {
        background-color: #fff;
    }

    .report-actions {
        margin-bottom: 20px;
    }


    .table-responsive {
    overflow-x: auto;
}

.user-list-r {
    margin-top: 20px;
    max-width: 400px;
    max-height: 60vh; /* Możesz dostosować tę wartość do swoich potrzeb */
    overflow-y: auto; /* Umożliwia przewijanie pionowe, gdy zawartość przekracza maksymalną wysokość */
    padding: 10px;
    border-radius: 5px; /* Zaokrąglenie rogów */
    scrollbar-color: #313131 transparent;
}

.user-entry {
    margin-bottom: 10px;
    border-bottom: 2px solid #1b5293;
    padding: 10px;

}

.user-header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    align-items: center;
    background-color: #EFEFEF;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.user-header .toggle-meters {
    margin-right: 10px;
    font-size: 20px;
}

.meter-list {
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.meter-entry {
    margin-bottom: 5px;
    background-color: #EFEFEF;
    padding: 5px;
    border-radius: 8px;
    width: 90%;
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.meter-checkbox {
    width: 25%;
}
/* Styl dla kontenera wykresu */
#reportChart {
    width: 100%;
    max-width: 800px; /* Możesz dostosować szerokość do swoich potrzeb */
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtelny cień dla kontenera */
    background-color: #fff; /* Białe tło dla lepszej czytelności */
    border-radius: 8px; /* Zaokrąglone rogi */
}

/* Styl dla tytułu wykresu */
.plotly .main-svg .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

/* Styl dla legendy wykresu */
.plotly .legend {
    font-size: 14px;
    color: #666;
}

/* Styl dla osi wykresu */
.plotly .axis {
    font-size: 12px;
    color: #333;
}

/* Styl dla linii wykresu */
.plotly .scatterlayer .trace .lines {
    stroke-width: 2px; /* Grubsze linie dla lepszej widoczności */
}

/* Styl dla punktów na wykresie */
.plotly .scatterlayer .trace .points .point {
    stroke: #fff; /* Białe obramowanie punktów */
    stroke-width: 1.5px;
}

.raport-main {
    display: grid;
    place-items: center;
    .search-container {
        width: 100%;
    }
    input:not(.btn, .user-checkbox, .meter-checkbox) {
        margin: 0;
        border: 2px solid #1b5293;
        border-radius: 1rem;
        padding: 5px;
        width: 100%;
    }
    .user-checkbox {
        margin: 0 10px;
        width: fit-content;

    }

    label {
        margin: 0;
    }

    .user-header span {
        justify-self: right;
    }

    #bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    select {
        margin: 0;
        border: 2px solid #1b5293;
        border-radius: 1rem;
        padding: 5px;
        width: 100%;
    }
}