<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zdalny Odczyt</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='GeneralStyles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Layout.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ButtonsAndForms.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='MediaQueries.css')}}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% block extra_css %}

    {% endblock extra_css %}

</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('main_routes.home') }}"><img src="{{ url_for('static', filename='img/Zdalny_Odczyt_RGB.png') }}" alt="Logo" class="logo">
        </a>
    {% if current_user.is_authenticated %}
    <p class="navbar-brand">Witaj, {{ current_user.email.split('@')[0] }}!</p>
    {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main_routes.home') }}">  <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                <p><a href="{{ url_for('admin_routes.upload_csv') }} " class="btn btn-primary">Prześlij plik</a></p>
                    <p><a href="{{ url_for('main_routes.generate_report') }} " class="btn btn-primary">Generuj raport</a></p>
                    <p><a href="{{ url_for('admin_routes.admin_panel') }} " class="btn btn-primary">Panel Administratora</a></p>
                    <p><a href="{{ url_for('main_routes.messages') }}" class="btn btn-primary">Wyślij wiadodmość</a></p>
                {% endif %}
                 {% if current_user.is_superuser %}
                     <p><a href="{{ url_for('main_routes.superuser_panel') }} " class="btn btn-primary">Panel Zarządzania</a></p>
                     <p><a href="{{ url_for('main_routes.generate_report') }} " class="btn btn-primary">Generuj raport</a></p>
                 {% endif %}
                    {% if current_user.is_superuser or current_user.is_admin%}
<p >
    <a class="btn btn-primary" href="{{ url_for('main_routes.generate_deltas_report') }}">Rozliczenia</a>
</p>
{% endif %}
                <p class="navbar-brand">     </p>

                    {% if not current_user.is_admin %}
                    <p><a href="{{ url_for('main_routes.messages') }} " class="btn btn-primary">Wiadomości
                    {% if current_user.unread_messages > 0 %}
      <span class="badge badge-danger">{{ current_user.unread_messages }}</span>
    {% endif %}
                    {% endif %}
                    </a></p>
                    <p><a href="{{ url_for('main_routes.edit_account') }}" class="btn btn-primary">Edytuj profil</a></p>
                    <p><a href="{{ url_for('main_routes.logout') }} " class="btn btn-primary">Wyloguj</a></p>
                {% else %}

                    <a href="{{ url_for('main_routes.login') }}" class="btn btn-primary">Login</a>
                {% endif %}


            </div>
        </div>




</nav>

<div class="center-box">
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="alert" class="alert alert-info">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    {% block content %}


    {% endblock content %}
</div>



<footer class="footer no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 style="color: #f9f9f9">Kontakt</h3>
                <p style="color: #f9f9f9">Telefon: 608 25 88 77</p>
                <p style="color: #f9f9f9">Nawiąż współpracę: mw@zdalnyodczyt.com</p>
                <p style="color: #f9f9f9">Wsparcie techniczne: pomoc@smartbits.pl</p>
            </div>
            <div class="col-md-6">
                <h3 style="color: #f9f9f9">Linki</h3>
                <ul>
                    <li style="color: #f9f9f9"><a href="#" style="color: #f9f9f9">Polityka prywatności</a></li>
                    <li style="color: #f9f9f9"><a href="#" style="color: #f9f9f9">Warunki użytkowania</a></li>
                    <li style="color: #f9f9f9"><a href="#" style="color: #f9f9f9">Regulamin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <center style="color: #f9f9f9"> <a href="https://linkedin.com/in/wojciech-adamski-b1a3b1a9/ " class="signature" target="_blank"> Wojciech Adamski</a>   2024</center>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alert = document.getElementById('alert');

        setTimeout(() => alert.style.opacity=0, 1000);
        setTimeout(() => alert.remove(), 2000);
        });
</script>

<script>
    document.querySelectorAll(".btn-toggle").forEach(button => {
        button.addEventListener("click", function() {
            var targetId = this.getAttribute("data-target");
            var targetDiv = document.getElementById(targetId);

            if (targetDiv.style.display === "none" || targetDiv.style.display === "") {
                targetDiv.style.display = "block";
                this.getElementsByTagName('img')[0].style.transform = "rotate(90deg)";
            } else {
                targetDiv.style.display = "none";
                this.getElementsByTagName('img')[0].style.transform = "rotate(0deg)";
            }
        });
    });
</script>

<script>
    document.querySelectorAll(".collapse").forEach(collapse => {
        if (collapse.style.display === "none" || collapse.style.display === "") {
                const btnId = collapse.id;
                const dataTarget = '[data-target="'+btnId+'"]';
                document.querySelectorAll(dataTarget).forEach(rotate => {
                    rotate.getElementsByTagName('img')[0].style.transform = "rotate(0deg)";
               });
            }
    });
</script>

</body>
</html>

